n8n-workflows/05-review-aggregator.json
{
    "name": "Review Aggregator",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "aggregate-reviews",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-1",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                200,
                300
            ],
            "webhookId": "aggregate-reviews"
        },
        {
            "parameters": {
                "jsCode": "// Extract product info for searching\nconst input = $input.first().json.body || $input.first().json;\n\nreturn {\n  productName: input.productName,\n  model: input.model,\n  vendor: input.vendor,\n  category: input.category,\n  searchQuery: `${input.productName} ${input.model || ''}`.trim()\n};"
            },
            "id": "code-prepare",
            "name": "Prepare Search",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                420,
                300
            ]
        },
        {
            "parameters": {
                "url": "https://google.serper.dev/search",
                "method": "POST",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "X-API-KEY",
                            "value": "={{ $credentials.serperApiKey }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"q\": \"{{ $json.searchQuery }} review site:amazon.com\",\n  \"gl\": \"us\",\n  \"hl\": \"en\",\n  \"num\": 5\n}",
                "options": {}
            },
            "id": "search-amazon-reviews",
            "name": "Search Amazon Reviews",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                660,
                100
            ]
        },
        {
            "parameters": {
                "url": "https://www.googleapis.com/youtube/v3/search",
                "method": "GET",
                "qs": {
                    "part": "snippet",
                    "q": "={{ $json.searchQuery }} review -unboxing -shorts",
                    "type": "video",
                    "order": "relevance",
                    "maxResults": "10",
                    "key": "={{ $credentials.youtubeApiKey }}"
                },
                "options": {}
            },
            "id": "search-youtube",
            "name": "Search YouTube Reviews",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                660,
                300
            ]
        },
        {
            "parameters": {
                "url": "https://google.serper.dev/search",
                "method": "POST",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "X-API-KEY",
                            "value": "={{ $credentials.serperApiKey }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"q\": \"{{ $json.searchQuery }} review site:rtings.com OR site:tomsguide.com OR site:theverge.com OR site:techradar.com\",\n  \"gl\": \"us\",\n  \"hl\": \"en\",\n  \"num\": 10\n}",
                "options": {}
            },
            "id": "search-articles",
            "name": "Search Article Reviews",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                660,
                500
            ]
        },
        {
            "parameters": {
                "mode": "combine",
                "combineBy": "combineAll",
                "options": {}
            },
            "id": "merge-results",
            "name": "Merge All Results",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3,
            "position": [
                900,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Process and structure all review sources\nconst items = $input.all();\nconst prepareData = $('Prepare Search').first().json;\n\n// Helper to safely get items\nfunction safeGet(items, identifier) {\n  const found = items.find(i => {\n    const q = i.json?.searchParameters?.q || '';\n    // Handle both cases where q might be undefined\n    return q && q.includes(identifier);\n  });\n  return found?.json || {};\n}\n\n// Process Amazon reviews from Serper results\nconst amazonResults = safeGet(items, 'amazon.com');\nconst amazonReviews = (amazonResults.organic || []).map(r => ({\n  title: r.title,\n  snippet: r.snippet,\n  url: r.link\n}));\n\n// Process YouTube results\n// The YouTube node output structure depends on the API response\nconst youtubeItem = items.find(i => i.json?.kind === 'youtube#searchListResponse');\nconst youtubeResults = youtubeItem ? youtubeItem.json : {};\nconst youtubeReviews = (youtubeResults.items || []).map(v => ({\n  videoId: v.id?.videoId,\n  title: v.snippet?.title,\n  channel: v.snippet?.channelTitle,\n  description: v.snippet?.description,\n  thumbnail: v.snippet?.thumbnails?.high?.url,\n  publishedAt: v.snippet?.publishedAt,\n  url: `https://youtube.com/watch?v=${v.id?.videoId}`\n}));\n\n// Process Article reviews from expert sites\nconst articleResults = safeGet(items, 'rtings.com');\nconst articleReviews = (articleResults.organic || []).map(r => ({\n  source: new URL(r.link).hostname.replace('www.', ''),\n  title: r.title,\n  snippet: r.snippet,\n  url: r.link\n}));\n\nreturn {\n  productName: prepareData.productName,\n  model: prepareData.model,\n  vendor: prepareData.vendor,\n  category: prepareData.category,\n  customerReviews: {\n    source: 'Amazon',\n    reviews: amazonReviews,\n    totalFound: amazonReviews.length\n  },\n  youtubeReviews: {\n    totalFound: youtubeReviews.length,\n    videos: youtubeReviews.slice(0, 5) // Top 5 videos\n  },\n  articleReviews: {\n    totalFound: articleReviews.length,\n    articles: articleReviews\n  },\n  aggregatedAt: new Date().toISOString()\n};"
            },
            "id": "code-process",
            "name": "Process All Reviews",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1100,
                300
            ]
        },
        {
            "parameters": {
                "model": "gpt-4o-mini",
                "options": {
                    "temperature": 0.5
                }
            },
            "id": "openai-chat-model",
            "name": "OpenAI Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1,
            "position": [
                1250,
                520
            ],
            "credentials": {
                "openAiApi": {
                    "id": "openai",
                    "name": "OpenAI API"
                }
            }
        },
        {
            "parameters": {
                "text": "=Analyze these reviews for {{ $json.productName }}:\n\n**Customer Reviews (Amazon):**\n{{ JSON.stringify($json.customerReviews.reviews.slice(0, 5), null, 2) }}\n\n**YouTube Reviews:**\n{{ JSON.stringify($json.youtubeReviews.videos, null, 2) }}\n\n**Expert Article Reviews:**\n{{ JSON.stringify($json.articleReviews.articles, null, 2) }}\n\nProvide a JSON analysis:\n{\n  \"customerSentiment\": {\n    \"overall\": \"positive/mixed/negative\",\n    \"commonPraise\": [\"thing1\", \"thing2\"],\n    \"commonComplaints\": [\"thing1\", \"thing2\"]\n  },\n  \"expertConsensus\": {\n    \"strengths\": [\"point1\", \"point2\"],\n    \"weaknesses\": [\"point1\", \"point2\"],\n    \"recommendations\": \"summary of who this is best for\"\n  },\n  \"youtubeHighlights\": {\n    \"mostMentioned\": [\"feature1\", \"feature2\"],\n    \"concerns\": [\"concern1\", \"concern2\"]\n  },\n  \"overallVerdict\": \"2-3 sentence summary combining all sources\"\n}",
                "options": {
                    "systemMessage": "You are an expert at analyzing and synthesizing product reviews from multiple sources. Extract key insights, common themes, and provide balanced analysis. You MUST return valid JSON."
                }
            },
            "id": "ai-agent",
            "name": "AI Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.6,
            "position": [
                1350,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Parse AI Agent analysis and combine with raw data\nconst rawResponse = $input.first().json.output || $input.first().json.text || $input.first().json.message?.content || '';\nconst reviewData = $('Process All Reviews').first().json;\n\nlet analysis;\ntry {\n  const jsonMatch = rawResponse.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    analysis = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('No JSON found');\n  }\n} catch (e) {\n  analysis = {\n    customerSentiment: { overall: 'unknown', commonPraise: [], commonComplaints: [] },\n    expertConsensus: { strengths: [], weaknesses: [], recommendations: '' },\n    youtubeHighlights: { mostMentioned: [], concerns: [] },\n    overallVerdict: rawResponse\n  };\n}\n\nreturn {\n  ...reviewData,\n  analysis\n};"
            },
            "id": "code-format",
            "name": "Format Output",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1600,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify($json) }}"
            },
            "id": "respond",
            "name": "Respond",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1800,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Prepare Search",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Search": {
            "main": [
                [
                    {
                        "node": "Search Amazon Reviews",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Search YouTube Reviews",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Search Article Reviews",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Search Amazon Reviews": {
            "main": [
                [
                    {
                        "node": "Merge All Results",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Search YouTube Reviews": {
            "main": [
                [
                    {
                        "node": "Merge All Results",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Search Article Reviews": {
            "main": [
                [
                    {
                        "node": "Merge All Results",
                        "type": "main",
                        "index": 2
                    }
                ]
            ]
        },
        "Merge All Results": {
            "main": [
                [
                    {
                        "node": "Process All Reviews",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process All Reviews": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "Format Output",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Output": {
            "main": [
                [
                    {
                        "node": "Respond",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}